name: Daily Internship Scan

on:
  schedule:
    - cron: '0 13 * * *' # Runs at 9am EST
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-sniper:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run Sniper Script
        env:
          EMAIL_SENDER: ${{ secrets.EMAIL_SENDER }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          EMAIL_RECEIVER: ${{ secrets.EMAIL_RECEIVER }}
        run: python main.py

      - name: Commit and Push History
        run: |
          git config --global user.name "InternshipBot"
          git config --global user.email "bot@noreply.github.com"
          git add seen_jobs.txt
          git commit -m "Update seen jobs history" || exit 0
          git push
